//ADEN
@import 'shared';

@mixin aden($filters...) {
  @include filter-base;
  filter: hue-rotate(-20deg) contrast(.9) saturate(.85) brightness(1.2) $filters;

  &::after {
    background: linear-gradient(to right, rgba(66, 10, 14, .2), transparent);
    mix-blend-mode: darken;
  }

  @content;
}

// aden Instagram filter
%aden,
.aden {
  @include aden;
}

//BRENNAN
@import 'shared';

@mixin brannan($filters...) {
  @include filter-base;
  filter: sepia(0.5) contrast(1.4) $filters;

  &::after {
    background-color: rgba(161, 44, 199, .31);
    mix-blend-mode: lighten;
  }

  @content;
}

// brannan Instagram filter
%brannan,
.brannan {
  @include brannan;
}


//BROOKLYN
@import 'shared';

@mixin brooklyn($filters...) {
  @include filter-base;
  filter: contrast(.9) brightness(1.1) $filters;

  &::after {
    background: radial-gradient(circle, rgba(168, 223, 193, .4) 70%, rgb(196, 183, 200));
    mix-blend-mode: overlay;
  }

  @content;
}

// brooklyn Instagram filter
%brooklyn,
.brooklyn {
  @include brooklyn;
}

//CLARENDON
@import 'shared';
@mixin clarendon($filters...) {
  @include filter-base;
  filter: contrast(1.2) saturate(1.35) $filters;

  &:before {
    background: rgba(127, 187, 227, .2);
    mix-blend-mode: overlay;
  }

  @content;
}

// clarendon Instagram filter
%clarendon,
.clarendon {
  @include clarendon;
}

//EARLYBIRD
@import 'shared';

@mixin earlybird($filters...) {
  @include filter-base;
  filter: contrast(.9) sepia(.2) $filters;

  &::after {
    background: radial-gradient(circle, rgb(208, 186, 142) 20%, rgb(54, 3, 9) 85%, rgb(29, 2, 16) 100%);
    mix-blend-mode: overlay;
  }

  @content;
}

// earlybird Instagram filter
%earlybird,
.earlybird {
  @include earlybird;
}

//GINGHAM
@import 'shared';

@mixin gingham($filters...) {
  @include filter-base;
  filter: brightness(1.05) hue-rotate(-10deg) $filters;

  &::after {
    background: rgb(230, 230, 250);
    mix-blend-mode: soft-light;
  }

  @content;
}

// gingham Instagram filter
%gingham,
.gingham {
  @include gingham;
}

//HUDSON
@import 'shared';

@mixin hudson($filters...) {
  @include filter-base;
  filter: brightness(1.2) contrast(.9) saturate(1.1) $filters;

  &::after {
    background: radial-gradient(circle, rgb(166, 177, 255) 50%, rgb(52, 33, 52));
    mix-blend-mode: multiply;
    opacity: .5;
  }

  @content;
}

// hudson Instagram filter
%hudson,
.hudson {
  @include hudson;
}


//INKWELL
@import 'shared';

@mixin inkwell($filters...) {
  @include filter-base;
  filter: sepia(.3) contrast(1.1) brightness(1.1) grayscale(1) $filters;

  @content;
}

// inkwell Instagram filter
%inkwell,
.inkwell {
  @include inkwell;
}

//LO-FI
@import 'shared';

@mixin lofi($filters...) {
  @include filter-base;
  filter: saturate(1.1) contrast(1.5) $filters;

  &::after {
    background: radial-gradient(circle, transparent 70%, rgb(34, 34, 34) 150%);
    mix-blend-mode: multiply;
  }

  @content;
}

// lofi Instagram filter
%lofi,
.lofi {
  @include lofi;
}

//MAYFAIR
@import 'shared';

@mixin mayfair($filters...) {
  @include filter-base;
  filter: contrast(1.1) saturate(1.1) $filters;

  &::after {
    background: radial-gradient(circle at 40% 40%, rgba(255, 255, 255, .8), rgba(255, 200, 200, .6), rgb(17, 17, 17) 60%);
    mix-blend-mode: overlay;
    opacity: .4;
  }

  @content;
}

// mayfair Instagram filter
%mayfair,
.mayfair {
  @include mayfair;
}

//MOON
@import 'shared';

@mixin moon($filters...) {
  @include filter-base;
  filter: grayscale(1) contrast(1.1) brightness(1.1) $filters;

  &::before {
    background: rgb(160, 160, 160);
    mix-blend-mode: soft-light;
  }

  &::after {
    background: rgb(56, 56, 56);
    mix-blend-mode: lighten;
  }

  @content;
}

// moon Instagram filter
%moon,
.moon {
  @include moon;
}

//NASHVILLE
@import 'shared';

@mixin nashville($filters...) {
  @include filter-base;
  filter: sepia(.2) contrast(1.2) brightness(1.05) saturate(1.2) $filters;

  &::after {
    background: rgba(0, 70, 150, .4);
    mix-blend-mode: lighten;
  }

  &::before {
    background: rgba(247, 176, 153, .56);
    mix-blend-mode: darken;
  }

  @content;
}

// nashville Instagram filter
%nashville,
.nashville {
  @include nashville;
}
